body {
	font family: arial, helvetica;
	background-image: url(images/b.png);
	background-repeat: no-repeat;
	background-position:150px  0px;
	spacing:100%;
	}

.menu {
	list-style: none;
	padding: 0;
	background: #092327;
	width: 100%;
	margin: auto;
	}

.menu li a{
		text-decoration: none;
		color: white;
		padding: 20px;
		display: block;
	}

.menu li  {
		display: inline-block;
		text-align: right;
}

.menu li a:hover {
		background: #ef8354;
}