@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?hkcank');
  src:  url('fonts/icomoon.eot?hkcank#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?hkcank') format('truetype'),
    url('fonts/icomoon.woff?hkcank') format('woff'),
    url('fonts/icomoon.svg?hkcank#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-google:before {
  content: "\ea88";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\ea96";
}
